<div class="container">
	<form class="form-row" [formGroup]="taskForm" >
		<div class="col-9">
		  <input type="text" name="task" class="form-control shadow-none" placeholder="Add Task" formControlName="task">
		</div>
		<div class="col-3">
			<ng-container *ngIf="update_task; else addButton">
				<button (click)="update(taskForm)" class="btn btn-block btn-primary shadow-none">Update</button>
			</ng-container>
			<ng-template #addButton>
				<button (click)="submit(taskForm)" class="btn btn-block btn-primary shadow-none">Add</button>	
			</ng-template>
		</div>
	</form>

	<!-- <div class="alert alert-success mx-auto text-center p-1" style="max-width: 400px; height: 35px;" role="alert">
		This is a success alert—check it out!
	</div> -->

	<div class="list-group mt-4">
		<div class="list-group-item" *ngFor="let task of tasks">
			<span (click)="complete(task)" [ngClass]="{'complete': task.complete == true}">{{task.task}}</span>
			<span>
				<button (click)="get_task(task)" type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
				<button (click)="remove(task)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>    
			</span>
		</div>
	</div>
</div>